

*{
  font-family:Arial, Helvetica, sans-serif;
}


.bg{
  background-image: url(dog1.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
}


html,body{
  height: 100%;
}

h1{
  text-align: center;
  color: rgb(70, 34, 4);
  font-size: 1.7cm;
  padding: .2em;
}

p{
  font-weight: bold;
  font-size: .5cm;
  padding: .5em;
}

.panel{
  background-color: antiquewhite;
  width: 18%;
  align-content: center;
  padding: 3em;
  margin-left: 8em;
  border-radius: 10px;
  display: block;
  
}

#breed_list {
  width: 100%;
  display: block;
}

#breed_img{
  display: none;
}