*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #49494b;
}

.container{
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 2px;
  color: #d1bfa7;
  border-radius: 5px;
}

.todo-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bd8c7d;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.todo-body input{
  flex: 1;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background: transparent;
  padding: 15px,0;
}

.todo-body img{
  padding: 8px;
  color: #fff;
  background:#49494b;
  border-radius: 40px;
  cursor: pointer;
}

.todo-body img:active, .todo-body img:focus{
  filter: brightness(120%);
}

ul li{
  list-style: none;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}

li{
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #8e8e90; 
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-controls{
  margin-right: 5px;
  padding: 3px;
}

h5{
  text-align: center;
  margin-bottom: 20px;
  color: #4a1606;
}

/*
li{
  opacity: 0;
  animation: new-item-animation 0.3s linear forwards;
}
@keyframes new-item-animation {
  from{
    opacity: 0;
    transform: translateY(-400px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

li.deleted-item{
  animation: deleted-item-animation 1s cubic-bezier(0.55,-0.04,0.91,0.94) forwards;
  transform-origin: 0% 100%;
}
@keyframes deleted-item-animation {
  0%{
    opacity: 1;
    transform: rotate(0);
  }
  100%{
    opacity: 0;
    transform: translateY(600px) rotate(90deg);
  }
}

.toggle{
  animation: hideMe 5s forwards;
}
  @keyframes hideMe {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
*/